<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="OmpSsHLS"
         point="org.eclipse.cdt.ui.completionProposalComputer">
   <proposalComputer
	      class="plugin.PragmaCompletionProposalComputer"
	      categoryId="Ompss"
	      activate="true">
    </proposalComputer>
     
	   <cdtCompletionProposalComputer
	      class="plugin.PragmaCompletionProposalComputer"
	      categoryId="Ompss"
	      activate="true">
	   </cdtCompletionProposalComputer>
   </extension>

</plugin>
